
#floating-panel {
    position: absolute;
    top: 40px;
    left: 30%;
    z-index: 50;
    height: 600px;
    width: 400px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#ordered-task{
    position: absolute;
    left: 10px;
    top: 25px;
}

.floating-task{
    width: 300px;
    height: 100px;
    z-index: 100;
    border-style: dashed;
    border-color: black;
}

ul {
    list-style-type: none;
}

#taskButton{
    position: absolute;
    bottom: 7%;
    right: 38.8%; /*38*/
    z-index: 500;
}

#userIn{
    position: absolute;
    z-index: 500;
    bottom: 7%;
    left: 35.2%; /*33*/
    width: 344.8px; /*275*/
}

#taskText{
  position: relative;
  bottom: 25px;
}

div{
    background:url('https://convertingcolors.com/gradient-BDEDFF.svg'); 
}